In [1]:
import pytablewriter

data = [
    ["1", "AD", "Europe/Andorra"],
    ["2", "AE", "Asia/Dubai"],
    ["3", "AF", "Asia/Kabul"],
    ["4", "AG", "America/Antigua"],
    ["5", "AI", "America/Anguilla"],
]

In [2]:
writer = pytablewriter.CsvTableWriter()
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

"zone_id","country_code","zone_name"
1,"AD","Europe/Andorra"
2,"AE","Asia/Dubai"
3,"AF","Asia/Kabul"
4,"AG","America/Antigua"
5,"AI","America/Anguilla"

In [3]:
writer = pytablewriter.CsvTableWriter()
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data
writer.column_delimiter = "\t"

writer.write_table()

"zone_id"	"country_code"	"zone_name"
1	"AD"	"Europe/Andorra"
2	"AE"	"Asia/Dubai"
3	"AF"	"Asia/Kabul"
4	"AG"	"America/Antigua"
5	"AI"	"America/Anguilla"

In [4]:
writer = pytablewriter.HtmlTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

<table id="Timezone">
    <caption>Timezone</caption>
    <thead>
        <tr>
            <th>zone_id</th>
            <th>country_code</th>
            <th>zone_name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="right">1</td>
            <td align="left">AD</td>
            <td align="left">Europe/Andorra</td>
        </tr>
        <tr>
            <td align="right">2</td>
            <td align="left">AE</td>
            <td align="left">Asia/Dubai</td>
        </tr>
        <tr>
            <td align="right">3</td>
            <td align="left">AF</td>
            <td align="left">Asia/Kabul</td>
        </tr>
        <tr>
            <td align="right">4</td>
            <td align="left">AG</td>
            <td align="left">America/Antigua</td>
        </tr>
        <tr>
            <td align="right">5</td>
            <td align="left">AI</td>
            <td align="left">America/Anguilla</td>
        </tr>
    </tbody>
</table>

In [5]:
writer = pytablewriter.JavaScriptTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

var Timezone = [
    ["zone_id", "country_code", "zone_name"],
    [1, "AD", "Europe/Andorra"],
    [2, "AE", "Asia/Dubai"],
    [3, "AF", "Asia/Kabul"],
    [4, "AG", "America/Antigua"],
    [5, "AI", "America/Anguilla"]
];

In [6]:
writer = pytablewriter.JsonTableWriter()
#writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

[
    {
        "country_code": "AD",
        "zone_id": 1,
        "zone_name": "Europe/Andorra"
    },
    {
        "country_code": "AE",
        "zone_id": 2,
        "zone_name": "Asia/Dubai"
    },
    {
        "country_code": "AF",
        "zone_id": 3,
        "zone_name": "Asia/Kabul"
    },
    {
        "country_code": "AG",
        "zone_id": 4,
        "zone_name": "America/Antigua"
    },
    {
        "country_code": "AI",
        "zone_id": 5,
        "zone_name": "America/Anguilla"
    }
]

In [7]:
writer = pytablewriter.JsonTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

{
    "Timezone": [
        {
            "country_code": "AD",
            "zone_id": 1,
            "zone_name": "Europe/Andorra"
        },
        {
            "country_code": "AE",
            "zone_id": 2,
            "zone_name": "Asia/Dubai"
        },
        {
            "country_code": "AF",
            "zone_id": 3,
            "zone_name": "Asia/Kabul"
        },
        {
            "country_code": "AG",
            "zone_id": 4,
            "zone_name": "America/Antigua"
        },
        {
            "country_code": "AI",
            "zone_id": 5,
            "zone_name": "America/Anguilla"
        }
    ]
}

In [8]:
writer = pytablewriter.MarkdownTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

# Timezone
zone_id|country_code|   zone_name
------:|------------|----------------
      1|AD          |Europe/Andorra
      2|AE          |Asia/Dubai
      3|AF          |Asia/Kabul
      4|AG          |America/Antigua
      5|AI          |America/Anguilla

In [9]:
writer = pytablewriter.PandasDataFrameWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

Timezone = pandas.DataFrame(
    {'country_code': ['AD', 'AE', 'AF', 'AG', 'AI'],
     'zone_id': [1, 2, 3, 4, 5],
     'zone_name': ['Europe/Andorra',
                   'Asia/Dubai',
                   'Asia/Kabul',
                   'America/Antigua',
                   'America/Anguilla']})

In [10]:
writer = pytablewriter.PythonCodeTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

Timezone = [
    ["zone_id", "country_code", "zone_name"],
    [1, "AD", "Europe/Andorra"],
    [2, "AE", "Asia/Dubai"],
    [3, "AF", "Asia/Kabul"],
    [4, "AG", "America/Antigua"],
    [5, "AI", "America/Anguilla"],
]

In [11]:
writer = pytablewriter.RstGridTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

.. table:: Timezone

    +-------+------------+----------------+
    |zone_id|country_code|   zone_name    |
    +=======+============+================+
    |      1|AD          |Europe/Andorra  |
    +-------+------------+----------------+
    |      2|AE          |Asia/Dubai      |
    +-------+------------+----------------+
    |      3|AF          |Asia/Kabul      |
    +-------+------------+----------------+
    |      4|AG          |America/Antigua |
    +-------+------------+----------------+
    |      5|AI          |America/Anguilla|
    +-------+------------+----------------+

In [12]:
writer = pytablewriter.RstSimpleTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

.. table:: Timezone

    =======  ============  ================
    zone_id  country_code     zone_name
    =======  ============  ================
          1  AD            Europe/Andorra
          2  AE            Asia/Dubai
          3  AF            Asia/Kabul
          4  AG            America/Antigua
          5  AI            America/Anguilla
    =======  ============  ================

In [13]:
writer = pytablewriter.RstCsvTableWriter()
writer.table_name = "Timezone"
writer.header_list = ["zone_id", "country_code", "zone_name"]
writer.value_matrix = data

writer.write_table()

.. csv-table:: Timezone
    :header: "zone_id", "country_code", "zone_name"
    :widths: 7, 12, 16

    1, "AD", "Europe/Andorra"
    2, "AE", "Asia/Dubai"
    3, "AF", "Asia/Kabul"
    4, "AG", "America/Antigua"
    5, "AI", "America/Anguilla"