In [1]:
import pytablewriter

table_name = "example_table"
header_list = ["int", "float", "str", "bool", "mix", "time"]
data = [
    [0,   0.1,      "hoge", True,   0,      "2017-01-01 03:04:05+0900"],
    [2,   "-2.23",  "foo",  False,  None,   "2017-12-23 12:34:51+0900"],
    [3,   0,        "bar",  "true",  "inf", "2017-03-03 22:44:55+0900"],
    [-10, -9.9,     "",     "FALSE", "nan", "2017-01-01 00:00:00+0900"],
]

In [2]:
for name in pytablewriter.TableWriterFactory.get_format_name_list():
    print(name)

csv
excel
html
javascript
js
json
ltsv
markdown
mediawiki
null
pandas
py
python
rst
rst_csv_table
rst_grid_table
rst_simple_table
toml
tsv

In [3]:
for name in pytablewriter.TableWriterFactory.get_extension_list():
    print(name)

csv
htm
html
js
json
ltsv
md
py
rst
toml
tsv
xls
xlsx

In [4]:
writer = pytablewriter.CsvTableWriter()
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

"int","float","str","bool","mix","time"
0,0.10,"hoge",True,0,"2017-01-01 03:04:05+0900"
2,-2.23,"foo",False,,"2017-12-23 12:34:51+0900"
3,0.00,"bar",True,Infinity,"2017-03-03 22:44:55+0900"
-10,-9.90,"",False,NaN,"2017-01-01 00:00:00+0900"

In [5]:
writer = pytablewriter.TsvTableWriter()
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

"int"	"float"	"str"	"bool"	"mix"	"time"
0	0.10	"hoge"	True	0	"2017-01-01 03:04:05+0900"
2	-2.23	"foo"	False		"2017-12-23 12:34:51+0900"
3	0.00	"bar"	True	Infinity	"2017-03-03 22:44:55+0900"
-10	-9.90	""	False	NaN	"2017-01-01 00:00:00+0900"

In [6]:
writer = pytablewriter.HtmlTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

<table id="example_table">
    <caption>example_table</caption>
    <thead>
        <tr>
            <th>int</th>
            <th>float</th>
            <th>str</th>
            <th>bool</th>
            <th>mix</th>
            <th>time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="right">0</td>
            <td align="right">0.10</td>
            <td align="left">hoge</td>
            <td align="left">True</td>
            <td align="right">0</td>
            <td align="left">2017-01-01 03:04:05+0900</td>
        </tr>
        <tr>
            <td align="right">2</td>
            <td align="right">-2.23</td>
            <td align="left">foo</td>
            <td align="left">False</td>
            <td align="left"></td>
            <td align="left">2017-12-23 12:34:51+0900</td>
        </tr>
        <tr>
            <td align="right">3</td>
            <td align="right">0.00</td>
            <td align="left">bar</td>
            <td align="left">True</td>
            <td align="left">Infinity</td>
            <td align="left">2017-03-03 22:44:55+0900</td>
        </tr>
        <tr>
            <td align="right">-10</td>
            <td align="right">-9.90</td>
            <td align="left"></td>
            <td align="left">False</td>
            <td align="left">NaN</td>
            <td align="left">2017-01-01 00:00:00+0900</td>
        </tr>
    </tbody>
</table>

In [7]:
writer = pytablewriter.JavaScriptTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

var example_table = [
    ["int", "float", "str", "bool", "mix", "time"],
    [0, 0.10, "hoge", true, 0, new Date("2017-01-01T03:04:05+0900")],
    [2, -2.23, "foo", false, null, new Date("2017-12-23T12:34:51+0900")],
    [3, 0.00, "bar", true, Infinity, new Date("2017-03-03T22:44:55+0900")],
    [-10, -9.90, "", false, NaN, new Date("2017-01-01T00:00:00+0900")]
];

In [8]:
writer = pytablewriter.JsonTableWriter()
#writer.table_name = "Timezone"
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

[
{
    "bool": true,
    "float": 0.1,
    "int": 0,
    "mix": 0,
    "str": "hoge",
    "time": "2017-01-01 03:04:05+0900"
},
{
    "bool": false,
    "float": -2.23,
    "int": 2,
    "mix": null,
    "str": "foo",
    "time": "2017-12-23 12:34:51+0900"
},
{
    "bool": true,
    "float": 0,
    "int": 3,
    "mix": "Infinity",
    "str": "bar",
    "time": "2017-03-03 22:44:55+0900"
},
{
    "bool": false,
    "float": -9.9,
    "int": -10,
    "mix": "NaN",
    "str": "",
    "time": "2017-01-01 00:00:00+0900"
}]

In [9]:
writer = pytablewriter.JsonTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

{ "example_table" : [
{
    "bool": true,
    "float": 0.1,
    "int": 0,
    "mix": 0,
    "str": "hoge",
    "time": "2017-01-01 03:04:05+0900"
},
{
    "bool": false,
    "float": -2.23,
    "int": 2,
    "mix": null,
    "str": "foo",
    "time": "2017-12-23 12:34:51+0900"
},
{
    "bool": true,
    "float": 0,
    "int": 3,
    "mix": "Infinity",
    "str": "bar",
    "time": "2017-03-03 22:44:55+0900"
},
{
    "bool": false,
    "float": -9.9,
    "int": -10,
    "mix": "NaN",
    "str": "",
    "time": "2017-01-01 00:00:00+0900"
}]}

In [10]:
writer = pytablewriter.MarkdownTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

# example_table
int|float|str |bool |  mix   |          time
--:|----:|----|-----|-------:|------------------------
  0| 0.10|hoge|True |       0|2017-01-01 03:04:05+0900
  2|-2.23|foo |False|        |2017-12-23 12:34:51+0900
  3| 0.00|bar |True |Infinity|2017-03-03 22:44:55+0900
-10|-9.90|    |False|     NaN|2017-01-01 00:00:00+0900

In [11]:
writer = pytablewriter.MediaWikiTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

{| class="wikitable"
|+example_table
! int
! float
! str
! bool
! mix
! time
|-
| style="text-align:right"| 0
| style="text-align:right"| 0.10
| hoge
| True
| style="text-align:right"| 0
| 2017-01-01 03:04:05+0900
|-
| style="text-align:right"| 2
| style="text-align:right"| -2.23
| foo
| False
|
| 2017-12-23 12:34:51+0900
|-
| style="text-align:right"| 3
| style="text-align:right"| 0.00
| bar
| True
| Infinity
| 2017-03-03 22:44:55+0900
|-
| style="text-align:right"| -10
| style="text-align:right"| -9.90
|
| False
| NaN
| 2017-01-01 00:00:00+0900
|}

In [12]:
writer = pytablewriter.PandasDataFrameWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

example_table = pandas.DataFrame([
    [0, 0.10, "hoge", True, 0, dateutil.parser.parse("2017-01-01T03:04:05+0900")],
    [2, -2.23, "foo", False, None, dateutil.parser.parse("2017-12-23T12:34:51+0900")],
    [3, 0.00, "bar", True, numpy.inf, dateutil.parser.parse("2017-03-03T22:44:55+0900")],
    [-10, -9.90, "", False, numpy.nan, dateutil.parser.parse("2017-01-01T00:00:00+0900")],
])
example_table.columns = [
    "int",
    "float",
    "str",
    "bool",
    "mix",
    "time",
]

In [13]:
writer = pytablewriter.PandasDataFrameWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data
writer.is_datetime_instance_formatting = False

writer.write_table()

example_table = pandas.DataFrame([
    [0, 0.10, "hoge", True, 0, "2017-01-01 03:04:05+0900"],
    [2, -2.23, "foo", False, None, "2017-12-23 12:34:51+0900"],
    [3, 0.00, "bar", True, numpy.inf, "2017-03-03 22:44:55+0900"],
    [-10, -9.90, "", False, numpy.nan, "2017-01-01 00:00:00+0900"],
])
example_table.columns = [
    "int",
    "float",
    "str",
    "bool",
    "mix",
    "time",
]

In [14]:
writer = pytablewriter.PythonCodeTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

example_table = [
    ["int", "float", "str", "bool", "mix", "time"],
    [0, 0.10, "hoge", True, 0, dateutil.parser.parse("2017-01-01T03:04:05+0900")],
    [2, -2.23, "foo", False, None, dateutil.parser.parse("2017-12-23T12:34:51+0900")],
    [3, 0.00, "bar", True, float("inf"), dateutil.parser.parse("2017-03-03T22:44:55+0900")],
    [-10, -9.90, "", False, float("nan"), dateutil.parser.parse("2017-01-01T00:00:00+0900")],
]

In [15]:
writer = pytablewriter.PythonCodeTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data
writer.is_datetime_instance_formatting = False

writer.write_table()

example_table = [
    ["int", "float", "str", "bool", "mix", "time"],
    [0, 0.10, "hoge", True, 0, "2017-01-01 03:04:05+0900"],
    [2, -2.23, "foo", False, None, "2017-12-23 12:34:51+0900"],
    [3, 0.00, "bar", True, float("inf"), "2017-03-03 22:44:55+0900"],
    [-10, -9.90, "", False, float("nan"), "2017-01-01 00:00:00+0900"],
]

In [16]:
writer = pytablewriter.RstGridTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

.. table:: example_table

    +---+-----+----+-----+--------+------------------------+
    |int|float|str |bool |  mix   |          time          |
    +===+=====+====+=====+========+========================+
    |  0| 0.10|hoge|True |       0|2017-01-01 03:04:05+0900|
    +---+-----+----+-----+--------+------------------------+
    |  2|-2.23|foo |False|        |2017-12-23 12:34:51+0900|
    +---+-----+----+-----+--------+------------------------+
    |  3| 0.00|bar |True |Infinity|2017-03-03 22:44:55+0900|
    +---+-----+----+-----+--------+------------------------+
    |-10|-9.90|    |False|     NaN|2017-01-01 00:00:00+0900|
    +---+-----+----+-----+--------+------------------------+

In [17]:
writer = pytablewriter.RstSimpleTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

.. table:: example_table

    ===  =====  ====  =====  ========  ========================
    int  float  str   bool     mix               time
    ===  =====  ====  =====  ========  ========================
      0   0.10  hoge  True          0  2017-01-01 03:04:05+0900
      2  -2.23  foo   False            2017-12-23 12:34:51+0900
      3   0.00  bar   True   Infinity  2017-03-03 22:44:55+0900
    -10  -9.90        False       NaN  2017-01-01 00:00:00+0900
    ===  =====  ====  =====  ========  ========================

In [18]:
writer = pytablewriter.RstCsvTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

.. csv-table:: example_table
    :header: "int", "float", "str", "bool", "mix", "time"
    :widths: 3, 5, 4, 5, 8, 24

    0, 0.10, "hoge", True, 0, "2017-01-01 03:04:05+0900"
    2, -2.23, "foo", False, , "2017-12-23 12:34:51+0900"
    3, 0.00, "bar", True, Infinity, "2017-03-03 22:44:55+0900"
    -10, -9.90, "", False, NaN, "2017-01-01 00:00:00+0900"

In [19]:
writer = pytablewriter.LtsvTableWriter()
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

int:0	float:0.10	str:"hoge"	bool:True	mix:0	time:"2017-01-01 03:04:05+0900"
int:2	float:-2.23	str:"foo"	bool:False	time:"2017-12-23 12:34:51+0900"
int:3	float:0.00	str:"bar"	bool:True	mix:Infinity	time:"2017-03-03 22:44:55+0900"
int:-10	float:-9.90	str:""	bool:False	mix:NaN	time:"2017-01-01 00:00:00+0900"

In [20]:
writer = pytablewriter.TomlTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

[[example_table]]
int = 0
float = 0.1
mix = 0
bool = true
str = "hoge"
time = "2017-01-01 03:04:05+0900"
[[example_table]]
int = 2
float = -2.23
bool = false
str = "foo"
time = "2017-12-23 12:34:51+0900"
[[example_table]]
int = 3
float = 0
mix = Infinity
bool = true
str = "bar"
time = "2017-03-03 22:44:55+0900"
[[example_table]]
int = -10
float = -9.9
mix = NaN
bool = false
str = ""
time = "2017-01-01 00:00:00+0900"