In [1]:
import pytablewriter

table_name = "example_table"
header_list = ["int", "float", "str", "bool", "mix", "time"]
data = [
    [0,   0.1,      "hoge", True,   0,      "2017-01-01 03:04:05+0900"],
    [2,   "-2.23",  "foo",  False,  None,   "2017-12-23 12:34:51+0900"],
    [3,   0,        "bar",  "true",  "inf", "2017-03-03 22:44:55+0900"],
    [-10, -9.9,     "",     "FALSE", "nan", "2017-01-01 00:00:00+0900"],
]

In [2]:
writer = pytablewriter.CsvTableWriter()
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

"int","float","str","bool","mix","time"
0,0.1,"hoge",True,0,"2017-01-01 03:04:05+0900"
2,-2.2,"foo",False,,"2017-12-23 12:34:51+0900"
3,0.0,"bar",True,inf,"2017-03-03 22:44:55+0900"
-10,-9.9,"",False,nan,"2017-01-01 00:00:00+0900"

In [3]:
writer = pytablewriter.CsvTableWriter()
writer.header_list = header_list
writer.value_matrix = data
writer.column_delimiter = "\t"

writer.write_table()

"int"	"float"	"str"	"bool"	"mix"	"time"
0	0.1	"hoge"	True	0	"2017-01-01 03:04:05+0900"
2	-2.2	"foo"	False		"2017-12-23 12:34:51+0900"
3	0.0	"bar"	True	inf	"2017-03-03 22:44:55+0900"
-10	-9.9	""	False	nan	"2017-01-01 00:00:00+0900"

In [4]:
writer = pytablewriter.HtmlTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

<table id="example_table">
    <caption>example_table</caption>
    <thead>
        <tr>
            <th>int</th>
            <th>float</th>
            <th>str</th>
            <th>bool</th>
            <th>mix</th>
            <th>time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="right">0</td>
            <td align="right">0.1</td>
            <td align="left">hoge</td>
            <td align="left">True</td>
            <td align="right">0</td>
            <td align="left">2017-01-01 03:04:05+0900</td>
        </tr>
        <tr>
            <td align="right">2</td>
            <td align="right">-2.2</td>
            <td align="left">foo</td>
            <td align="left">False</td>
            <td align="left"></td>
            <td align="left">2017-12-23 12:34:51+0900</td>
        </tr>
        <tr>
            <td align="right">3</td>
            <td align="right">0.0</td>
            <td align="left">bar</td>
            <td align="left">True</td>
            <td align="left">inf</td>
            <td align="left">2017-03-03 22:44:55+0900</td>
        </tr>
        <tr>
            <td align="right">-10</td>
            <td align="right">-9.9</td>
            <td align="left"></td>
            <td align="left">False</td>
            <td align="left">nan</td>
            <td align="left">2017-01-01 00:00:00+0900</td>
        </tr>
    </tbody>
</table>

In [5]:
writer = pytablewriter.JavaScriptTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

var example_table = [
    ["int", "float", "str", "bool", "mix", "time"],
    [0, 0.1, "hoge", true, 0, new Date("2017-01-01T03:04:05+0900")],
    [2, -2.2, "foo", false, null, new Date("2017-12-23T12:34:51+0900")],
    [3, 0.0, "bar", true, Infinity, new Date("2017-03-03T22:44:55+0900")],
    [-10, -9.9, "", false, NaN, new Date("2017-01-01T00:00:00+0900")]
];

In [6]:
writer = pytablewriter.JsonTableWriter()
#writer.table_name = "Timezone"
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

[
{
    "bool": true,
    "float": 0.1,
    "int": 0,
    "mix": 0,
    "str": "hoge",
    "time": "2017-01-01 03:04:05+0900"
},
{
    "bool": false,
    "float": -2.23,
    "int": 2,
    "mix": null,
    "str": "foo",
    "time": "2017-12-23 12:34:51+0900"
},
{
    "bool": true,
    "float": 0,
    "int": 3,
    "mix": "Infinity",
    "str": "bar",
    "time": "2017-03-03 22:44:55+0900"
},
{
    "bool": false,
    "float": -9.9,
    "int": -10,
    "mix": "NaN",
    "str": "",
    "time": "2017-01-01 00:00:00+0900"
}]

In [7]:
writer = pytablewriter.JsonTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

{ "example_table" : [
{
    "bool": true,
    "float": 0.1,
    "int": 0,
    "mix": 0,
    "str": "hoge",
    "time": "2017-01-01 03:04:05+0900"
},
{
    "bool": false,
    "float": -2.23,
    "int": 2,
    "mix": null,
    "str": "foo",
    "time": "2017-12-23 12:34:51+0900"
},
{
    "bool": true,
    "float": 0,
    "int": 3,
    "mix": "Infinity",
    "str": "bar",
    "time": "2017-03-03 22:44:55+0900"
},
{
    "bool": false,
    "float": -9.9,
    "int": -10,
    "mix": "NaN",
    "str": "",
    "time": "2017-01-01 00:00:00+0900"
}]}

In [8]:
writer = pytablewriter.MarkdownTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

# example_table
int|float|str |bool |mix|          time
--:|----:|----|-----|--:|------------------------
  0|  0.1|hoge|True |  0|2017-01-01 03:04:05+0900
  2| -2.2|foo |False|   |2017-12-23 12:34:51+0900
  3|  0.0|bar |True |inf|2017-03-03 22:44:55+0900
-10| -9.9|    |False|nan|2017-01-01 00:00:00+0900

In [9]:
writer = pytablewriter.MediaWikiTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

{| class="wikitable"
|+example_table
! int
! float
! str
! bool
! mix
! time
|-
| style="text-align:right"| 0
| style="text-align:right"| 0.1
| hoge
| True
| style="text-align:right"| 0
| 2017-01-01 03:04:05+0900
|-
| style="text-align:right"| 2
| style="text-align:right"| -2.2
| foo
| False
|
| 2017-12-23 12:34:51+0900
|-
| style="text-align:right"| 3
| style="text-align:right"| 0.0
| bar
| True
| inf
| 2017-03-03 22:44:55+0900
|-
| style="text-align:right"| -10
| style="text-align:right"| -9.9
|
| False
| nan
| 2017-01-01 00:00:00+0900
|}

In [10]:
writer = pytablewriter.PandasDataFrameWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

example_table = pandas.DataFrame(
    {'bool': [True, False, True, False],
     'float': [0.1, -2.23, 0, -9.9],
     'int': [0, 2, 3, -10],
     'mix': [0, None, numpy.inf, numpy.nan],
     'str': ['hoge', 'foo', 'bar', ''],
     'time': ['2017-01-01 03:04:05+0900',
              '2017-12-23 12:34:51+0900',
              '2017-03-03 22:44:55+0900',
              '2017-01-01 00:00:00+0900']}
)

In [11]:
writer = pytablewriter.PythonCodeTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

example_table = [
    ["int", "float", "str", "bool", "mix", "time"],
    [0, 0.1, "hoge", True, 0, "2017-01-01 03:04:05+0900"],
    [2, -2.2, "foo", False, None, "2017-12-23 12:34:51+0900"],
    [3, 0.0, "bar", True, float("inf"), "2017-03-03 22:44:55+0900"],
    [-10, -9.9, "", False, float("nan"), "2017-01-01 00:00:00+0900"],
]

In [12]:
writer = pytablewriter.RstGridTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

.. table:: example_table

    +---+-----+----+-----+---+------------------------+
    |int|float|str |bool |mix|          time          |
    +===+=====+====+=====+===+========================+
    |  0|  0.1|hoge|True |  0|2017-01-01 03:04:05+0900|
    +---+-----+----+-----+---+------------------------+
    |  2| -2.2|foo |False|   |2017-12-23 12:34:51+0900|
    +---+-----+----+-----+---+------------------------+
    |  3|  0.0|bar |True |inf|2017-03-03 22:44:55+0900|
    +---+-----+----+-----+---+------------------------+
    |-10| -9.9|    |False|nan|2017-01-01 00:00:00+0900|
    +---+-----+----+-----+---+------------------------+

In [13]:
writer = pytablewriter.RstSimpleTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

.. table:: example_table

    ===  =====  ====  =====  ===  ========================
    int  float  str   bool   mix            time
    ===  =====  ====  =====  ===  ========================
      0    0.1  hoge  True     0  2017-01-01 03:04:05+0900
      2   -2.2  foo   False       2017-12-23 12:34:51+0900
      3    0.0  bar   True   inf  2017-03-03 22:44:55+0900
    -10   -9.9        False  nan  2017-01-01 00:00:00+0900
    ===  =====  ====  =====  ===  ========================

In [14]:
writer = pytablewriter.RstCsvTableWriter()
writer.table_name = table_name
writer.header_list = header_list
writer.value_matrix = data

writer.write_table()

.. csv-table:: example_table
    :header: "int", "float", "str", "bool", "mix", "time"
    :widths: 3, 5, 4, 5, 3, 24

    0, 0.1, "hoge", True, 0, "2017-01-01 03:04:05+0900"
    2, -2.2, "foo", False, , "2017-12-23 12:34:51+0900"
    3, 0.0, "bar", True, inf, "2017-03-03 22:44:55+0900"
    -10, -9.9, "", False, nan, "2017-01-01 00:00:00+0900"